<nav>
    <ul>
        <li><a href="{{ path('card') }}">Card</a></li>
        <li><a href="{{ path('deck') }}">Deck</a></li>
        <li><a href="{{ path('deckShuffle') }}">Shuffle</a></li>
        <li><a href="{{ path('draw_init') }}">Draw</a></li>
        <li><a href="{{ path('deckNumber') }}">Draw MORE!</a></li>
    </ul>
</nav>